[submodule "packages/react-scripts"]
	path = packages/react-scripts
	url = https://github.com/CSNW/react-scripts
[submodule "packages/react-dev-utils"]
	path = packages/react-dev-utils
	url = https://github.com/CSNW/react-dev-utils
